<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>레스토랑 상세 정보</h1>
  <p>등록 번호 : {{ restaurant.pk }}</p>
  <p>종류 : {{ restaurant.category }}</p>
  <p>이름 : {{ restaurant.name }}</p>
  <p>주소 : {{ restaurant.address }}</p>
  <p>여는 시간 : {{ restaurant.opening_time }}</p>
  <p>닫는 시간 : {{ restaurant.closing_time }}</p>
  <hr>
  <p>{{ restaurant.category }}</p>
  <hr>
  <a href="{% url "restaurants:index" %}">[돌아가기]</a>
</body>
</html>